# collection of Data structures types:
1. List
2. Tuple
3. set
4. Dictonary

# List
- one of the data structures in pyton
- Data structure means to store,sortand search options
- Its one common data structure in python ,the items of list seperated by comma and enclosed by square brackets

In [4]:
li = [1,8,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[16, 9]

In [6]:
li =["Gitam",1234,1235,1236,"Hyd"]
print(li)
print(li[0][2])

['Gitam', 1234, 1235, 1236, 'Hyd']
t

In [7]:
del li[3]
print(li)

['Gitam', 1234, 1235, 'Hyd']

In [8]:
# update
li[1] = 123
print(li)

['Gitam', 123, 1235, 'Hyd']

In [12]:
# basic list functions
li = [1,9,116,25,6]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
157
5
31

In [17]:
li = [1,9,116,25,5]
li.append(89)
print(li)
li.insert(2,56)
print(li)
li.count(9)
print(li.count(9))
li.index(5)
print(li)
li.sort()
print(li)
li.pop()
print(li)
li.pop(1)
print(li)

[1, 9, 116, 25, 5, 89]
[1, 9, 56, 116, 25, 5, 89]
1
[1, 9, 56, 116, 25, 5, 89]
[1, 5, 9, 25, 56, 89, 116]
[1, 5, 9, 25, 56, 89]
[1, 9, 25, 56, 89]

In [18]:
li = [1,9,116,25,5,9]
li1=[76,78,79]
li.extend(li1)
li.reverse()
li

[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [21]:
# function to return the large number from given list
def largestnumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,45,76]
print(largestnumber(li))
print(genericlarge(li,3))

76
25

In [22]:
def smallestnumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[n]
li = [19,1,25,45,76]
print(smallestnumber(li))
print(genericlarge(li,3))

76
45

# Tuple
. its one common data structure in python the items of tuple seperated by comma and enclosed by parenthesis()

##### EXAMPLE
- ti=(1,2,3,4)

# List and tuple
 - in list they are mutable - can be changed/modified
 - list used to modifiy,add,delete,update
 - tuples are immutable - cannot be changed
 - tuples used the data only

# Dictionaries
1. It works on concept of set unique data
2. dictionary conatins keys and values
3. Each key and value separated by comma
4. Each key is seperated from its values with colon(:)

In [34]:
d1 ={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1['name'] = 'shiva'

In [26]:
d1['roll_no']='221710311018'
d1

{'name': 'shiva',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'roll_no': '221710311018'}

In [27]:
del d1['email']
d1

{'name': 'shiva', 'address': 'hyderabad', 'roll_no': '221710311018'}

In [28]:
d1.values()

dict_values(['shiva', 'hyderabad', '221710311018'])

In [29]:
d1.keys()

dict_keys(['name', 'address', 'roll_no'])

# strings:

In [30]:
s1 = "python"
print(s1)
print(type(s1))

python
<class 'str'>

In [35]:
s1 + "Python"
print(s1[0])
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::3])
print(s1[::-1])

p
o
ytho
h
ph
nohtyp

# string Built in methods:
- upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [41]:
s1 = 'Python'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
False
False
True
True
False

In [42]:
s1 =' '
print(s1.isspace())

True

# String methods
- join()
- split()
- repace()

In [43]:
s1 = "python"
print("*".join(s1))

p*y*t*h*o*n

In [44]:
s1 = "python progreamming Easy to learn"
print(s1.replace("ing","gitam"))

python progreammgitam Easy to learn

In [45]:
s1 ="python programming easy to learn"
print(s1.split())

['python', 'programming', 'easy', 'to', 'learn']