In [5]:
name =input("enter NAME")
age =int(input("enter age"))
print("my name is:",name,"age is:",age)

enter NAMEshiva
enter age20
my name is: shiva age is: 20

In [6]:
x=int(input("enter a number"))
y=int(input("enter a number"))
print("add",x+y,"sub",x-y,)

enter a number2
enter a number3
add 5 sub -1

# Fundamental Data types

In [10]:
c =complex(2,5)
print(c)

(2+5j)

In [14]:
x = 10
y = 12.36
z = 5+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [12]:
c1 =3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [13]:
a = True
b = False
a < b

False

In [15]:
x = 6
y = 63
x > y

False

# string

In [16]:
s1 = "abd"
s2 = "dfg"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [19]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [20]:
# length
a = 1236
print(len(str(a)))

4

In [21]:
n1 = 100 #single variable assgnment
a = b = c =20 #multiple varible assignment
a1,b1,c1=123,234,345
print(a1,b1,c1)
print(b1,a1,c1)
print(a,b,c)

123 234 345
234 123 345
20 20 20

# precendence of the arth operators
- paranthesis
- power
- multiplication
- addition

In [22]:
x = 10 + 3 ** 6 /8 + 5
print(x)

106.125

In [23]:
x = 1 + 2 ** 3 /4 + 5
print(x)

8.0

# operators
## Arithmetic Opertors
- +
- -
- *
- /
- %
- **
- //

In [24]:
x=30
y=20
x//y

1

# Relational Operators
- ==
- !=
- <
- >
- <=
- >=

# Membership operators

In [25]:
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

# control flow statements
- conditional statements
- looping statements
- if - else statements
  - syntax
  #### if condition:
  > statements<br>
  ###### else:
  > statements:

In [30]:
# check given number is even or odd
n=int(input("enter any  number"))
if n%2==0:
   print("even")
else:   
    print("odd")

enter any  number23
odd

In [31]:
# check given number is perfectly multiple of 3 and 5
n=int(input("enter any  number"))
if n%2==0 and n%5==0:
   print("yes")
else:   
    print("no")

enter any  number30
yes

In [ ]:
# check given number is positive,Negative or Zero
# check given number is perfectly multiple of 3 and 5
n=int(input("enter any  number"))
if n
   print("yes")
else:   
    print("no")